# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Firebase/Google Service configuration files
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# macOS build
macos/Flutter/ephemeral/
macos/.dart_tool/
macos/build/

# Windows build
windows/flutter/
windows/.dart_tool/
windows/build/

# Linux build
linux/flutter/
linux/.dart_tool/
linux/build/

# Byte-compiled / optimized / dependency cache files
*.tmp
*.swp
*.lock

# Logs
*.log.*

# Podfile.lock for iOS (optional)
#ios/Podfile.lock
